.bg-img {
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('boxing.jpg');
    z-index: -1;
}

#hero {
    display: flex;
    flex-direction: column;
}

#hero button {
    background-color: rgb(240, 227, 51);
    background-image: linear-gradient( 200deg, rgba(255, 255, 255, 0.315), rgb(240,227,51));
    border: none;
    border-radius: 20px;
    width: 280px;
    align-self: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 20px 0px 0 1140px;
    cursor: pointer;
    padding: 10px 0;
}

#hero button:hover {
    background-image: linear-gradient( 200deg, rgba(255, 255, 255, 0.589), rgb(240,227,51));
}