.routine {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 120px;
    color: black;
    cursor: pointer;
    padding-left: 100px;
    padding-top: 10px;

}

#profile .routine p {
    color: black;
    font-size: 1.1em;
}

div.routine h2 {
    color: black;
    margin-bottom: 0;
}

div.routine li {
    list-style: none;
}

div.routine h3 {
    margin-bottom:0;
}

div#grid {
    display:inline-grid;
    grid-template-columns: 80% 100px 100px;
    width: 100%;
    margin-bottom: 20px;
}

div#grid p {
    margin: 0;
}



